.login {
    section.formulary {
        margin: 0 auto;
        max-width: 500px;
        .loginFormulary {
            margin: 1rem 0;
            padding: 1rem;
            border: 1px solid var(--bs-gray-400);
            border-radius: 4px;
            h2.formTitle {
                text-align: center;
                font-weight: 600;
                margin: 2rem;
                color: var(--bs-green);
            }
            a.forgotMyPassword {
                text-decoration: none;
                color: var(--bs-pink);
            }
            a.signUp {
                text-decoration: none;
                color: var(--bs-green);
                font-weight: 700;
            }
        }
    }
}