.login {
    section.formulary {
        margin: 0 auto;
        max-width: 500px;
        .loginFormulary {
            margin: 1rem 0;
            border: 1px solid var(--bs-gray-400);
            border-radius: 4px;
            h2.formTitle {
                text-align: center;
                font-weight: 600;
                margin: 2rem;
                color: var(--bs-green);
            }
            a.forgotMyPassword {
                text-decoration: none;
                color: var(--bs-pink);
            }
            a.signUp {
                text-decoration: none;
                color: var(--bs-green);
                font-weight: 700;
            }
        }
    }
}

@media (max-width: 768px) {
    .login {
        section.formulary {
            .loginFormulary {
                
                h2.formTitle {
                    margin: 1rem;
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .login {
        section.formulary {
            .loginFormulary {
                
                h2.formTitle {
                    margin: .5rem 0rem 1rem 0rem;
                }
                a.forgotMyPassword {
                    font-size: .8rem;
                }
                a.signUp {
                    font-size: .8rem;
                }
            }
        }
    }
}