.signUp {
    header {
        background-color: var(--bs-green);
        padding: .5rem 1rem;
        
        h1 {
            font-size: 1.2rem;
            font-weight: 700;
            color: var(--bs-white);
            margin: 0;
        }
        span.version {
            color: var(--bs-white);
            font-size: .8rem;
        }
    }
    section.subscribe {
        margin: 0 auto;
        max-width: 500px;
        .singupFormulary {
            margin: 1rem 0;
            padding: 1rem;
            border: 1px solid var(--bs-gray-400);
            border-radius: 4px;
            h2.formTitle {
                text-align: center;
                font-weight: 600;
                margin: 2rem;
                color: var(--bs-green);
            }
            label {
                font-size: .8rem;
            }
        }
    }
}