.footer {
    display: flex;
    align-items: center;
    justify-content: center;

    a, span {
        color: var(--color-green-300);
        margin-right: 2rem;
        font-size: .9rem;
    }

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

}